
body {
	background-color: #f9f9f9;
	font-family: "Avenir Next";
	text-align: center;
}

#backgroundBox {
	width: 340px;
    height: 340px;
    margin: 10px;
    background-color: rgba(0,0,0,.1);
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 5px;
}

.box {   
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
	border-radius: 5px;
    opacity: .5;
    border: 0 solid black;
}

#topLeft {
	background-color: red;
}

#topRight {
	background-color: blue;
}

#bottomLeft {
	background-color: green ;
}

#bottomRight {
	background-color: yellow;
}

.btn:focus {
  outline: none;
}

button {
	margin-top: 10px;
}

ol, h2 {
    text-align: left;
    font-size: 16px;
}

#pressStart, #watchSequence, #repeatSequence{
    font-size: 20px;
}